
.wrapper {
  text-align: center;
}
/*
==============
Header
==============
*/
.title {
  margin: 5px;
  border-top: solid;
  border-bottom: solid;
  border-width: 1px;
}
.title h1 {
  padding-bottom: 15px;
}
.top-bar {
  width: 100%;
}
.bar {
  background-color: #F1F8FF;
  width: 33%;
  border: 1px solid;
  border-color: #2f47f9;
  display: inline-block;
}
.bar-text {

}
/*
================
Table
================
*/
table {
  background-color: #bcb7b7;
  width: 75%;
  margin: 25px;
  margin-left: 10%;
  margin-top: 5%;
}
th {
  padding: 0;
  margin: 0;
  border-style: double;
}
td {
  padding: 0;
  margin: 0;
  border-style: double;
}
/*
====================
List
====================
*/
.list {
  width: 100%;
  height: 185px;
  border-bottom: solid;
  border-width: 1px;
}
.left-list {
  float: left;
  width: 50%;
  display: inline-block;
}
.right-list {
  float: right;
  width: 50%;
  display: inline-block;
}
li {
  text-align: left;
}
/*
=======================
Shapes
=======================
*/
.shapes {
  width: 100%;
  height: 250px;
}
.circle {
  margin: 7.5%;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #000;
  display: inline-block;
  border-radius: 50%;
  background-color: #387E22;
}
.square {
  margin: 7.5%;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #000;
  display: inline-block;
  background-color: #761B7D;
}
.image {
  margin: 7.5%;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: #000;
  display: inline-block;
  border-color: #2f47f9;
  vertical-align: top;
}
